html,
body {
	margin: 0;
	height: 100%;
	color-scheme: dark;
}

body {
	font-family: 'Inter Variable';
	scrollbar-width: thin;
	color: whitesmoke;
}

.row {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}
