:root {
	--color-bg: #21252b;
	--color-bg-bright: #282c34;

	--color-text: #dcdfe4;
	--color-text-dark: hsl(220, 13%, 55%);

	--color-red: #e06c75;
	--color-orange: #d19a66;
	--color-yellow: #e5c07b;
	--color-green: #98c379;
	--color-cyan: #56b6c2;
	--color-blue: #61afef;
	--color-purple: #c678dd;
}

*::selection {
	background-color: #404859;
}

.fg-text {
	color: var(--color-text);
}

.fg-dark {
	color: var(--color-text-dark);
}

.bg-red {
	color: var(--color-bg);
	background-color: var(--color-red);
}

.bg-orange {
	color: var(--color-bg);
	background-color: var(--color-orange);
}

.bg-yellow {
	color: var(--color-bg);
	background-color: var(--color-yellow);
}

.bg-green {
	color: var(--color-bg);
	background-color: var(--color-green);
}

.bg-cyan {
	color: var(--color-bg);
	background-color: var(--color-cyan);
}

.bg-blue {
	color: var(--color-bg);
	background-color: var(--color-blue);
}

.bg-purple {
	color: var(--color-bg);
	background-color: var(--color-purple);
}

.fg-red {
	color: var(--color-red);
}

.fg-orange {
	color: var(--color-orange);
}

.fg-yellow {
	color: var(--color-yellow);
}

.fg-green {
	color: var(--color-green);
}

.fg-cyan {
	color: var(--color-cyan);
}

.fg-blue {
	color: var(--color-blue);
}

.fg-purple {
	color: var(--color-purple);
}

/* "background": "#282C34",
"black": "#282C34",
"blue": "#61AFEF",
"brightBlack": "#5A6374",
"brightBlue": "#61AFEF",
"brightCyan": "#56B6C2",
"brightGreen": "#98C379",
"brightPurple": "#C678DD",
"brightRed": "#E06C75",
"brightWhite": "#DCDFE4",
"brightYellow": "#E5C07B",
"cursorColor": "#FFFFFF",
"cyan": "#56B6C2",
"foreground": "#DCDFE4",
"green": "#98C379",
"name": "One Half Dark",
"purple": "#C678DD",
"red": "#E06C75",
"selectionBackground": "#FFFFFF",
"white": "#DCDFE4",
"yellow": "#E5C07B" */
